body {
  background: #fff;
  color: #333;
  font-size: 11px;
  height: auto;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0;
}

#header {
  background-color: #89BC23;
  margin: 0;
}

#footer {
  background-color: #89BC23;
}

.container_12,
.container_16,
.container_24 {
  background-color: #5B8DEF;
  background-repeat: repeat-y;
}

